<style>
ul, form, h2 {
  font-family: sans-serif;
}
</style>

<h2>
  To-Do
</h2>

<ul>
{% for task in tasks %}
    <li>
        {% if task.done %} <strike> {% endif %}{{ task.content }} {% if task.done %} </strike>{% endif %}
        <a href="/done/{{ task.id }}">X</a>
        <a href="/delete/{{ task.id }}">Delete</a>
    </li>
{% endfor %}
</ul>


<form action="/task" method="post">
    <p><input type="text" name="content"></p>
    <input type="submit" value="Add task">
</form>
<a href="/logout">Log Out</a>
